@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">CHOOSE YOUR STARWARS FILM</h1>
    
    <h2><a href="/home/MovieDetails/1">A New Hope</a></h2><br />
    <h2><a href="/home/MovieDetails/2">The Empire Strikes Back</a></h2><br />
    <h2><a href="/home/MovieDetails/3">Return of the Jedi</a></h2><br />
    <h2><a href="/home/MovieDetails/4">Phantom Menace</a></h2><br />
    <h2><a href="/home/MovieDetails/5">Attack of the Clones</a></h2><br />
    <h2><a href="/home/MovieDetails/6">Revenge of the Sith</a></h2><br />
</div>
