@model CardResponse;
@{
    ViewData["Title"] = "Draw";
}

<h1>Draw</h1>

@Model.deck_id


<div>
    <h1 class="display-4">Your Cards are:</h1>
    @foreach (Card car in Model.cards)
    {
        <img src="@car.image" />
    }
</div>
