@model CardResponse;
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/home/draw">
    <input type="hidden" value="@Model.deck_id" name="deck_id" />
    <input type="submit" placeholder="DRAW" />
</form>
