@model Pictures;
@{
    ViewData["Title"] = "RoverPhotos";
}
<div class="text-center">
<h1>@ViewBag.Rover Rover Photos</h1>
</div>
<div class="d-flex flex-wrap justify-content-center">
@foreach(Picture pic in Model.picturesList){
        <div class="card" style="width: 18rem;">
            <img  src="@pic.img" />
        <div class="card-body">
            <h2>@pic.cameraNameFull</h2>
        </div>
        </div>
}
</div>